.number-cell {
    text-align: right;
}

.checkmark-cell {
    text-align: center;
    font-weight: bold;
}

.note {
    padding-inline-start: 0.25ch;
    color: var(--text-subtle);
    text-decoration: underline;
    text-decoration-style: dotted;
}
